@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-btnContent: 156 163 175;
    --color-btnBackground: 0 0 0;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-btnContent: 0 0 0;
      --color-btnBackground: 255 255 255;
    }
  }
  :root[data-theme="dark"] {
    --color-btnContent: 0 0 0;
    --color-btnBackground: 255 255 255;
  }
}
.listbox-options-mobile {
  width: 96%;
  position: fixed;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  margin-left: 15px;
}

@media (min-width: 768px) {
  .header-logo_siteSwitcher {
    margin-left: 12px;
    position: relative;
    left: 0;
    transform: none;
  }
}
